Package: SmartTest
Version: 1.0.0
Architecture: all
Essential: no
Priority: optional
Depends: default-jre-headless | java6-runtime-headless | default-jre, git
Maintainer: Madhukar Temba <madhusmiles.madhukar@gmail.com>
Description: This is a Gradle smart test tool for incremental and parallel testing of Java projects using Gradle.
